/* Colours' variables declaration */
:root {
    --main-background: #ee8f4b;
    --main-orange: #fa8900;
    --header-footer-background: #6b2e16;
    --preferred-white: #f7f7f7;
}

* {
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* Req C1 */
}

/* Tag Styles */

h1 {
    font-size: 8rem; /* ReqC2, ReqC3 */
    margin: 0;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6, a, p {
    font-size: 1.10rem;
}

section {
    width: 80dvw; /* ReqC4 On section for style purposes*/
    margin: auto;    
    scroll-margin-top: 110px;
}

section:first-of-type {
    margin-top: 5rem;
}

body { /* ReqS22 */
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: var(--main-background);
}

ul { /* ReqS13 */
    list-style: none;
    padding-inline: 0;
    margin-block: 0;
}

ul a { /* ReqC11 */
    color: black;
    text-decoration: none;
}

header { /* ReqC6, ReqS22 */
    flex-shrink: 0;
    top: 0;
    position: sticky;
    padding-block: 1rem;
    height: 110px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background: var(--header-footer-background);
}

footer { /* ReqC6 */
    background-color: var(--header-footer-background);
    padding: 2rem 5rem;
    margin-top: 10rem; /* ReqC24 */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--preferred-white);
}

/* Class and Id Styles */

.section-divider { /* ReqC8 */
    height: .3rem;
    width: 100%;
    margin-block: 5rem;
    background-color: rgb(29, 29, 29);
}

.section-title {
    text-align: center;
}

#header__nav { /* ReqC9 */
    padding-inline: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    display: inline-block;
    height: 70px;
}

#nav__list {
    display: flex;
    align-items: center;
    margin-block: 0;
    height: 100%;
    gap: 4rem;
}

.link { /* ReqC8 */
    position: relative;
    display: inline-flex;
    font-weight: 700;
    color: var(--preferred-white);
}

.nav__link::before {
    content: '';
    background: var(--main-orange);
    width: 0%;
    height: .2rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: -.3rem;
    transition: width .35s;
}

.nav__btn:hover > .nav__link::before { /* ReqC10, ReqC14 */
    width: 80%;
}

#ham-menu,
.ham-btn {
    display: none;
}

.footer__line {
    margin-block: .5rem;
}

.btn {
    margin-top: 1rem;
    padding: .5rem;
    color: #f7f7f7;
    font-size: 1rem;
    background: var(--main-orange);
    cursor: pointer;
    border: 5px solid;
    border-radius: 10px;
}

.btn:hover {
    background: #e77f00;
}

.btn:focus {
    border: 5px solid #ffb962;
}

@media (max-width: 1034px) {
    #header__nav {
        padding-inline: 2.5rem;
    }

    #nav__list {
        gap: 2rem;
    }
}

@media (max-width: 860px) {
    h1 {
        font-size: 6rem;
    }

    #nav__list {
        display: none;
    }

    #ham-menu__header {
        display: block;
    }

    .ham-btn {
        display: inline;
    }

    .ham-btn {
        cursor: pointer;
        background: none;
        border: none;
    }

    #ham-menu {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;
        height: 100vh;
        width: 28.25rem;
        padding: 3rem 4rem;
        background: var(--main-background);
        box-shadow: -5px 1px 36px -6px rgba(0,0,0,0.37);
        text-wrap: nowrap;
        transition: .6s ease-in-out;
    }

    .off-screen {
        width: 0;
        transform: translateX(100%);
        overflow: hidden;
    }

    #ham-menu__list {
        flex-grow: 1;
    }

    #ham-menu__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2.5rem;
    }

    .ham-menu__link {
        font-size: 1.75rem;
        margin-bottom: .75rem;
    }

    #ham-menu__copyright {
        color: var(--preferred-white);
    }
}

@media (max-width: 690px) {
    h1 {
        font-size: 5rem;
    }
}

@media (max-width: 560px) {
    h1 {
        font-size: 4.5rem;
    }

    #ham-menu {
        width: 100dvw;
    }
}