/* Schedule */
#timetable {
    width: 60%;
    margin-inline: auto;
    text-align: center;
    border: .25rem solid #704016;
    border-radius: .3rem;
    background-color: #fc7c0c48;
    border-spacing: 0px .6rem;
}

#timetable th { /* ReqC18 */
    border-bottom: .3rem solid rgba(99, 51, 12, 0.9);
    padding-bottom: .3rem;
}

#timetable tr:first-child > td {
    border-bottom: .3rem solid rgba(99, 51, 12, 0.9);
    padding-bottom: .3rem;
}

 #timetable  p {
    margin: 0;
    font-size: medium;
 }

/* Reservations */
#reservations-form {
    display: grid;
    row-gap: 1.25rem;
    margin-inline: auto;
    max-width: min(30rem, 80%);
}

#reservations-form > div {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    box-sizing: border-box;
}

#reservations-form > div:has(input:required) label::after { /* This works with one label and one input per div. What about two of both in one div?? TO CHECK*/
    content: ' *';
    color: red;
    font-weight: 800;
}

#reservations-form input,
textarea { /* ReqC19 */
    border: none;
    border-radius: .3rem;
    padding: .5rem;
    border: .25rem solid transparent;
}

#reservations-form input:focus,
textarea:focus {
    outline: none;
}

#reservations-form .invalid {
    border: .25rem solid rgb(255, 82, 82);
}

#reservations-form .valid {
    border: .25rem solid rgb(95, 250, 97);
}

#client-info {
    margin-top: .5rem;
    padding: 10px;
    resize: none;
}

#make-reservation__btn {
    margin-top: 1rem;
    padding: 10px;
}

#error-box {
    color: #b00020;
    background-color: #fce4e4;
    box-sizing: border-box;
    border: .08rem solid #f5c2c7;
    border-radius: .375rem;
    font-size: .95rem;
    padding: .625rem .9375rem;
    margin-top: 1.75rem;
    margin-inline: auto;
    line-height: 1.4;
    display: none;
    width: min(30rem, 80%);
    text-align: center;
}

#error-box.visible {
    display: block;
}